<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDJ" closeTimeout="00:10:00" receiveTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sunny.eng.utah.edu/DJ.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDJ" contract="KaraokeService.IDJ"
                name="BasicHttpBinding_IDJ" />
        </client>
    </system.serviceModel>
</configuration>